mixin accordion-item(option = {})

  li.accordion-item&attributes(attributes)

    button.accordion-item__button(type="button")
      .accordion-item__button-text
        h3.accordion-item__title!= option.titlePro
        P.accordion-item__details
          span.accordion-item__details-location!= option.detailsLocation
          span.accordion-item__details-wager!= option.detailsWager
      .accordion-item__button-icon
        +icon("tick", 22, 22)

    .accordion-item__content-wrapper
      .accordion-item__content

        dl.accordion-item__specification
          .accordion-item__specification-set
            dt.accordion-item__term Требования
            dd.accordion-item__definition!= option.textRequirements

          .accordion-item__specification-set
            dt.accordion-item__term График работы
            dd.accordion-item__definition!= option.timetable

          .accordion-item__specification-set
            dt.accordion-item__term Контакты для&nbsp;собеседования
            dd.accordion-item__definition
              +link({href: option.linkPhone, text: option.callbackContact, ariaLabel: "Переход к звонку по телефону"}).accordion-item__definition-callback
